.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 20px;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.navbar-logo {
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

.navbar-title {
  font-size: 19.2px;
  font-weight: 600;
}

.navbar-right .navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.navbar-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-links li:hover {
  color: #61dafb;
}

html {
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  padding: 50px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.section:nth-child(even) {
  background-color: #e0e0e0;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.section p {
  font-size: 17.6px;
}
